<div class="main__heading">
  <h2>My Bookmarks</h2>
</div>

<div class="main__subheading">
</div>

<div class="btn-container">
  <%= link_to 'New bookmark', new_bookmark_path, :class => 'btn' %>
</div>

<div class="bookmarks-container">

  <% @user.bookmarks.each do |bookmark| %>

    <ul>
    <%= render :partial => 'magic', locals: { :bookmark => bookmark } %>

    </ul>
  <% end %>
</div>
