<script>
  $('document').ready(function () {
    console.log('document ready');

    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltipFillColor = 'rgb(44, 62, 80)';

    var barChartData = {
      labels: myData.responseJSON.labels,
      datasets: [
        {
          // fillColor : "rgba(44, 62, 80, 1);",
          fillColor: "rgb(122, 151, 190)",
          strokeColor: "rgba(122, 151, 190, 0.1)",
          // strokeColor : "red", highlightFill: "rgba(220,220,220,0.75)", highlightStroke: "rgba(220,220,220,1)",
          data: myData.responseJSON.counts
          // data : myData.responseJSON.counts
        }
      ]
    };
    var ctx = $("#myChart").get(0).getContext("2d");

    var myChart = new Chart(ctx).Bar(barChartData, {responsive: true});

  });
</script>

<div class="main__heading">
  <h2>Stats <i class="fa fa-bar-chart"></i></h2>
</div>

<div class="main__subheading">
</div>

<div class="graph-container">
  <h4 class="graph-title">My bookmark counts</h4>
  <!-- <svg id="graph"></svg> -->
  <canvas id="myChart"></canvas>
  <p class="text-center">Total number of bookmarks: <%= @bookmark_total %></p>
</div>
