<div class="main__heading">
  <h2>Data visualisation</h2>
</div>

<div class="main__subheading">
  <h4>
    Some graphs...
  </h4>


</div>

<div class="graph-container">
  <!-- <svg id="graph"></svg> -->
  <canvas id="chart1"></canvas>
</div>
