<div class="main__heading">
  <h2>My Profile</h2>
</div>

<div class="main__subheading"></div>

<div class="profile-container">
  <h4>Name</h4>
  <p>
    <% if @user.name %>
    <%= @user.name %>
  <% else %>
    Not provided
    <% end %>
  </p>

  <h4>Email</h4>
  <p><%= @user.email %></p>

  <%= image_tag @user.image_url, :class => 'profile-image--large' %>

</div>
