@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

// 1. GLOBAL
$text: rgb(44, 62, 80);
$primary: rgb(44, 62, 80);
$primary-light: rgb(122, 151, 190);
$warning: rgb(231, 76, 60);
$is-read: rgb(22, 160, 133);
$is-unread: rgb(127, 140, 141);
$is-fav: rgb(241, 96, 158);
$is-notfav: rgb(127, 140, 141);
$red: rgb(192, 57, 43);
