// 1. GLOBAL
$text: rgb(44, 62, 80);
$primary: rgb(44, 62, 80);
$primary-light: rgb(122, 151, 190);
$warning: rgb(231, 76, 60);
$is-read: rgb(46, 204, 113);
$is-unread: rgb(127, 140, 141);
$is-fav: rgb(241, 196, 15);
$is-notfav: rgb(127, 140, 141);
$red: rgb(192, 57, 43);

 ///////////////////////////////////////////////////////////////////////////////
// 2. GENERIC
// ( resets )
// http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font: 12px/1.3 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
 ::-moz-focus-inner {
  padding: 0;
  border: 0;
}
 :focus {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
// 3. TYPOGRAPHY
* {
  font-family: Helvetica, sans-serif;
  color: $text;
}
h1 {
  font-size: 2em;
  padding: 10px 0;
  @media screen and (min-width: 600px) {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.6em;
  padding: 5px 0;
  @media screen and (min-width: 600px) {
  font-size: 2em;
  }
}

h3 {
  font-size: 1.5em;
  padding: 5px 0;
}
p {
  font-size: 1em;
  padding: 5px 0;
}
// 4. BASE ELEMENTS
* {
  box-sizing: border-box;
}

body {
  background-image: url('background.jpg');
}
// 5. SECTIONS
// 5.1 NAV
.container {
  max-width: 600px;
  margin: 0 auto;
}
.container--home {
  margin-top: 30%;
}
.header {
  text-align: center;
  // background: rgb(236, 240, 241);
  border-bottom: 1px solid $red;
}
.sub-header {
  height: 2px;
  border-bottom: 1px solid $red;
}
.header-container {
  max-width: 600px;
  margin: 0 auto;
}
.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  height: 50px;

}

.nav-list {
  padding: 10px 0 0;
  background: $primary;
  width: 100%;
  color: #fff;
  text-align: center;
}
.nav-list--user-options {
  display:  none;
}

.nav-list__item {
  font-size: 0.9em;
  display: inline-block;
  color: #fff;
  width: 18%;
  &:hover {
    background: $primary-light;
  }
}
.nav-list__label {
  color: #fff;
  display: block;
  text-align: center;
  padding: 5px 0 10px 0;
}
.nav-list__icon {
  display: block;
  text-align: center;
  color: #fff;
  &.fa {
    font-size: 1.5em;
    color: #fff;
  }
}

.sub-nav {
  position: fixed;
  bottom: 50px;
  width: 100%;
  background: $primary-light;
  z-index: 100;
}

.sub-nav__item {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.header__user {
  text-align: right;
  font-size: 0.9em;
}
// 5.2 MAIN
.main {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}
.main__heading {
  text-align: center;
}
.main__subheading {
  text-align: center;
}
.main-section {
  text-align: center;
  margin: 2em 0;
}

// BOOKMARKS
.bookmarks-container {
  // max-width: 80%;
  margin: 0 auto;
}
.bookmark-each,
.user-each {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid $primary;
  border-radius: 10px;
  position: relative;;
}

.bookmark__details {
  display: inline-block;
  width: 70%;
}

.bookmark__controls {
  display: inline-block;
  width: 29%;
  position: absolute;
  text-align: right;
}
.bookmark__button {
  display: inline;
  margin-right: 10px;
  border: 1px solid $primary;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &.fa {
    line-height: 30px;
    font-size: 1em;
    text-align: center;
  }
}
.bookmark-link {
  font-style: italic;
}
.bookmark-created,
.bookmark-fav,
.bookmark-read {
  font-size: 0.8em;
}

.bookmark-read--is-read {
  color: $is-read;
}
.bookmark-read--is-unread {
  color: $is-unread;
}

.bookmark-fav--is-fav {
  color: $is-fav;
}

.bookmark-fav--is-notfav {
  color: $is-notfav;
}

.bookmark-trash {

}

.bookmark--spacer-left {
  margin-left: 10px;
}
// GRAPHC
.graph-container {
  margin: 2em 0;
}
// PROFILE
.profile__image-container {
  width: 65%;
  margin: 0 auto;
}
.profile-container {
  text-align: center;
  margin: 2em 0;
}
.profile-image {
  border-radius: 1em;
}

.user-index__image-container {
  width: 30%;
  display: inline-block;
}
.user-index__details-container {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding-left: 10px;
}
// OTHER
.login__error-heading,
.bookmark__error-heading {
  text-align: center;
  color: $warning;
}

// 6. MODULES
.btn {
  font-size: 1em;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid $primary;
  color: $primary;
  background: white;
}
.btn:hover {
  text-decoration: none;
}

.btn--home {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}
.btn-container {
  margin: 2em 0;
  text-align: center;
}
.form {
  max-width: 80%;
  margin: 2em auto;
  padding: 2em;
  // border: 1px solid $primary;
  border-radius: 1em;
}
fieldset {
  border: none;
  padding: 10px 0;
}
.field_with_errors {
  display: inline;
}
.input {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  background: rgba(255,255,255,0.6);
}
.label {
  display: block;
  margin-bottom: 5px;
}
// 6. HELPERS
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.truncate {
  // width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-underline {
  text-decoration: underline;
}
