<div class="main__heading">
  <h2>My Categories</h2>
</div>

<div class="main__subheading">
  <p>Find me in app/views/categories/index.html.erb</p>
</div>

  <% @user.categories.each do |category| %>
  <h3 class="text-center"><%= link_to category.name, category %></h3>
  <% end %>
