<div class="main__heading">
  <h2>My Categories</h2>
</div>

<div class="main__subheading"></div>

<div class="btn-container">
  <%= link_to 'New category', new_category_path, :class => 'btn' %>
</div>

<% @user.categories.each do |category| %>
<h3 class="text-center"><%= link_to category.name, category %></h3>
<div class="text-center">
  <%= link_to "Edit", edit_category_path(category.id) %>
  <!--  NB. This will keep the bookmark (but it will be unassigned) -->
  <%= link_to "Delete", category_path(category.id), :method => 'delete' %>
</div>
<% end %>
