<div class="main__heading">
  <h2>Bookmarks for: <%= @category.name %></h2>
</div>

<div class="main__subheading">
</div>

<!--  TODO: Mark as read link -->
<!--  TODO: Make this a partial for all bookmarks -->
  <ul>
    <% @category.bookmarks.each do |bookmark| %>

    <%= render :partial => 'magic', locals: { :bookmark => bookmark } %>
    <% end %>

  </ul>
